name = "MixedModelsSerialization"
uuid = "b32ace64-3998-4ca6-afd0-a0db4a0482b2"
authors = ["Phillip Alday <me@phillipalday.com>"]
version = "0.1.0"

[deps]
Effects = "8f03c58b-bd97-4933-a826-f71b64d2cca2"
GLM = "38e38edf-8417-5370-95a0-9cbb8c7f171a"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MixedModels = "ff71e718-51f3-5ec2-a782-8ffcbfa3c316"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"
StatsAPI = "82ae8749-77ed-4fe6-ae5f-f523153014b0"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
StatsFuns = "4c63d2b9-4356-54db-8cca-17b64c39e42c"
StatsModels = "3eaba693-59b7-5ba5-a881-562e759f1c8d"

[compat]
Arrow = "2"
Effects = "0.1"
GLM = "1"
JSON3 = "1"
Legolas = "0.4"
MixedModels = "4"
StatsAPI = "1"
StatsBase = "0.33"
StatsFuns = "1"
StatsModels = "0.6"
